@charset "UTF-8";
:root {
  /* палитра цветов */
  --primary-color: #212121;
  --secondary-color: #757575;
  --secondary-color-w: #ffffff;
  --logo-color: #000000;
  --additional-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --secondary-accent-color: #188ce8;
  --modal-form-color: rgba(117, 117, 117, 0.5);
  --text-field-color: #000000;
  /*  рамка */
  --primary-border-color: #eeeeee;
  --secondary-border-color: #ececec;
  --modal-btn-border-color: rgba(0, 0, 0, 0.1);
  --modal-form-border-color: rgba(33, 33, 33, 0.2);
  /* фон */
  --primary-background-color: #ffffff;
  --secondary-background-color-lige: rgba(47, 48, 58, 0.4);
  --secondary-background-color-dark: #2f303a;
  --accent-background-color: #afb1b8;
  --hero-background-color: #C4C4C4;
  --btn-background-color: #f5f4fa;
  --work-wrapper-bg-color: rgba(47, 48, 58, 0.8);
  --social-icon-background-color: rgba(255, 255, 255, 0.1);
  --overlay-bg-color: rgba(33, 150, 243, 0.9);
  --backdrop-bg-color: rgba(0, 0, 0, 0.2);
  /* текст */
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  /* переходы */
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

img {
  display: block;
}

address {
  font-style: normal;
}

body {
  font-family: var(--primary-font-family);
  color: var(--primary-color);
  background-color: var(--primary-background-color);
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color);
}

.logo_span-color {
  color: var(--accent-color);
}

.link-hover {
  transition: color var(--transition-dur-and-func);
}
.link-hover:hover, .link-hover:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 479px) {
  .menu-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .mobile-menu__social-list {
    justify-content: space-between;
    flex-wrap: wrap;
    border: none;
    row-gap: 10px;
  }
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: var(--primary-background-color);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
}

.mobile-menu__container {
  position: relative;
  padding: 48px 40px;
  background-color: var(--primary-background-color);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__menu-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__menu-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-menu__contact-list {
  margin-bottom: 64px;
}

.mobile-menu__contact-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__contact-tel-link {
  font-weight: 500;
  font-size: 26px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-menu__contact-email-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.mobil-menu__close-icon {
  transition: fill var(--transition-dur-and-func);
}

.mobile-menu__close-btn:hover .mobil-menu__close-icon,
.mobile-menu__close-btn:focus .mobil-menu__close-icon {
  fill: var(--accent-color);
}

.mobile-menu__social-list {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.mobile-menu__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

@media screen and (min-width: 480px) {
  .mobile-menu__menu-list {
    margin-bottom: 306px;
  }
  .mobile-menu__contact-tel-link {
    font-size: 34px;
  }
  .mobile-menu__social-item:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}
.button-primary {
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--secondary-color-w);
  padding: 10px 24px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background var(--transition-dur-and-func);
}
.button-primary:hover, .button-primary:focus {
  background: var(--secondary-accent-color);
}

@media screen and (min-width: 1200px) {
  .button-primary {
    padding: 10px 32px;
  }
}
.button {
  font-family: inherit;
  cursor: pointer;
  font-size: 16px;
  border: none;
}

.text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--secondary-color-w);
}

.transform {
  text-transform: uppercase;
}

.title {
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}
.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

@media screen and (max-width: 767px) {
  .header__menu {
    display: none;
  }
  .header__contact-list {
    display: none;
  }
}
.header {
  border-bottom: 1px solid var(--secondary-border-color);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.open-mobil-menu-btn {
  background: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

@media screen and (min-width: 768px) {
  .open-mobil-menu-btn {
    display: none;
  }
  .header__container {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .header__navigation {
    display: flex;
    align-items: center;
  }
  .header__logo {
    margin-right: 87px;
  }
  .header__menu {
    display: flex;
    align-items: center;
    column-gap: 51px;
  }
  .header__menu-link {
    position: relative;
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-color);
  }
  .header__contact-link {
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
  }
  .header__contact-item:first-child {
    margin-bottom: 10px;
  }
  .mail-icon {
    width: 14px;
    height: 10px;
  }
  .tel-icon {
    width: 10px;
    height: 14px;
  }
  .header__contact-icon {
    fill: currentColor;
  }
  .current {
    color: var(--accent-color);
  }
  .current::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    bottom: -1px;
    background-color: var(--accent-color);
  }
}
@media screen and (min-width: 1200px) {
  .header__menu {
    column-gap: 54px;
  }
  .header__contact-item:first-child {
    margin-bottom: 0;
  }
  .header__contact-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
  }
  .header__contact-link {
    column-gap: 10px;
  }
  .mail-icon {
    width: 16px;
    height: 12px;
  }
  .tel-icon {
    width: 10px;
    height: 16px;
  }
}
.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--hero-background-color);
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  max-width: 360px;
  margin: 0 auto;
  margin-bottom: 30px;
  color: var(--secondary-color-w);
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background/hero-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}
.advantage__item:not(:last-child) {
  margin-bottom: 30px;
}

.advantage__item-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  background: #F5F4FA;
  border-radius: 4px;
}

.advantage__title {
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.advantage__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 40px;
  }
  .advantage__item-wrapper {
    padding-left: 142px;
    padding-right: 142px;
  }
  .advantage__title {
    text-align: left;
  }
  .advantage__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 30px;
  }
  .advantage__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .advantage__item-wrapper {
    padding-left: 100px;
    padding-right: 100px;
  }
  .advantage__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}
.clients__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.clients__item {
  flex-basis: calc((100% - 30px) / 2);
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 92px;
  border: 1px solid var(--accent-background-color);
  border-radius: 4px;
  color: var(--accent-background-color);
  transition: color var(--transition-dur-and-func), border-color var(--transition-dur-and-func);
}
.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
  .clients__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
  .clients__item {
    flex-basis: calc((100% - 90px) / 4);
  }
  .clients__list {
    flex-wrap: nowrap;
  }
}
.footer {
  background-color: var(--secondary-background-color-dark);
}

.footer__address-wrapper {
  text-align: center;
  margin-bottom: 60px;
}

.footer__logo {
  color: var(--secondary-color-w);
}

.footer__address {
  margin-top: 20px;
}

.footer__address-item:not(:last-child) {
  margin-bottom: 8px;
}

.footer__address-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color-w);
}

.footer__contact-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--additional-color);
}

.footer__social-link-wrapper {
  margin-bottom: 60px;
}

.footer__social-link-text {
  text-align: center;
  margin-bottom: 20px;
}

.footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--social-icon-background-color);
  color: var(--secondary-color-w);
  transition: background-color var(--transition-dur-and-func);
}
.footer__social-link:hover, .footer__social-link:focus {
  background-color: var(--accent-color);
}

.footer__social-link-icon {
  fill: currentColor;
}

.footer__subscription-container {
  text-align: center;
}

.footer__subscription-form {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.footer__subscription-text {
  margin-bottom: 20px;
}

.footer__subscription-form-input {
  width: 358px;
  height: 50px;
  padding: 15px 10px;
  margin-bottom: 20px;
  color: var(--secondary-color-w);
  background-color: var(--secondary-background-color-dark);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.footer__subscription-form-input::placeholder {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--additional-color);
}
.footer__subscription-form-input:focus {
  outline: none;
}

.footer__subscription-button {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  min-height: 50px;
  min-width: 200px;
  padding: 10px 28px;
  margin-top: 0;
  border: none;
}

.footer__subscription-button-icon {
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .footer__address-social-wrapper {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 60px;
  }
  .footer__address-wrapper {
    margin-right: 165px;
    margin-bottom: 0;
  }
  .footer__social-link-wrapper {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .footer__container {
    display: flex;
    align-items: baseline;
  }
  .footer__address-wrapper {
    text-align: left;
    margin-right: 70px;
  }
  .footer__address-item:not(:last-child) {
    margin-bottom: 9px;
  }
  .footer__social-link-wrapper {
    margin-right: 93px;
  }
  .footer__social-link-text {
    text-align: left;
  }
  .footer__subscription-form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer__subscription-text {
    text-align: left;
  }
  .footer__subscription-form-input {
    margin-bottom: 0;
  }
  .footer__subscription-button {
    margin-left: 12px;
  }
}/*# sourceMappingURL=main.css.map */