.header {
    border-bottom: 1px solid var(--secondary-border-color);
}

.header__container {
    display: flex;
    justify-content: space-between;
}
.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo {
    margin-right: 93px;
}

.menu {
    display: flex;
    column-gap: 50px;
}

.menu__link {
    position: relative;
    color: var(--primary-color);

}




/* header-contact */
.header-contact-list {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}
.header__link {
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header__contact-link {
    display: flex;
    justify-content: center;
    align-items: center;    
    color: var(--secondary-color);
}

.header-contact-list-icon {
    margin-right: 10px;
    fill: currentColor;
}
// .mailto-link__icon, .phone-number-link__icon{
//     margin-right: 10px;
//     fill: currentColor;
// }
/* ////////// */
.menu__link_current {
    color: var(--accent-color);

    &::after {
            position: absolute;
            content: "";
            display: block;
            width: 100%;
            height: 4px;
            bottom: -1px;
            background-color: var(--accent-color);
        }
}

