.portfolio__list-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    margin-bottom: 50px;
}

.portfolio__list-clients {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
}

.portfolio__item-clients {
    flex-basis: calc((100% - 60px) / 3);
}

.portfolio__item-clients-link {
    display: inline-block;
    transition: box-shadow var(--transition-dur-and-func);

       &:hover,
       &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
        }
}



.portfolio__item-clients-wrapper {
    border: 1px solid var(--primary-border-color);
    border-top: none;
    /* border-right: 1px solid var(--primary-border-color);
  border-bottom: 1px solid var(--primary-border-color);
  border-left: 1px solid var(--primary-border-color); */
    padding: 20px 24px;
}

.portfolio__item-clients-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-color);
    margin-bottom: 4px;
}

.portfolio__item-clients-text {
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}